body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

h1, h2{
    display: grid;
    justify-content: center;
}
@keyframes flashing {
    from {color: red; background-color: rgb(255, 255, 255);}
    to {color: rgb(113, 125, 137); background-color: aqua;}
}
h1 {
    color: red; 
    animation-name: flashing;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px;
    padding-bottom: 10px;
    width: 400px;
    place-self: center;
}

.div-divide-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 100%; */
}

.puppy-roster {
    background-color: pink;
    width: 100%;
}
.grid-puppy-list {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    /* align-items: center; */
    /* padding-bottom: 40px;     */
}
.puppy-name {
    border: 2px solid black ;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    padding-left: 40px;
    margin: 10px;
    text-align: left;
    font-size: 30px;
}


.puppy-details {
    background-color: orange;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.dog-container {
    display: grid;
    height: 800px;
    grid-template-rows: 3fr 2fr 1fr;
    justify-content: center;
    align-items: center;
    /* place-content: center; */
}
img {
    max-width: 400px;
    place-self: center;
}
.dog-bio {
    display: grid;
    font-size: 2em;
}
.close-button {
    font-size: 2em;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    /* padding-top: 4px; */
}


.invite-puppy {
    place-self: center;
    margin-top: 50px;
    background-color: lightskyblue;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    /* place-content: center; */
    border: 4px solid black;
    border-radius: 20px;
    width: 1000px;
    height: auto;
}
form {
    display: grid;
    justify-content: center;
}
form div{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 800px;
}
div span {
    font-size: 30px;
}
#button-submit {
    place-self: center;
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}